# Setup EMME / Python Library / Utitlity Functions

In [1]:
import inro.modeller as _m
import inro.emme.desktop as _d
import csv
import os
import multiprocessing
import numpy as np
import pandas as pd
import sqlite3
import datetime
import traceback as _traceback

dt = _d.app.connect()
de = dt.data_explorer()
db = de.active_database()
ebs = de.databases()

util = _m.Modeller().tool("translink.util")

In [2]:
dt.refresh_data()
de = dt.data_explorer()
db = de.active_database()
ebs = de.databases()
database_object = {}
for eb in ebs:
    title = eb.title()
    database_object[title] = eb

def open_emmbank(target_title):
    
    # Scenario emmebank open error check
    if not(target_title in database_object.keys()):
        raise Exception(target_title + " Emmebank is not in the project")
    
    # open scenario emmebank
    eb = database_object[target_title]
    eb.open()
    eb = _m.Modeller().emmebank
    return eb

In [3]:
# make sure modeller is closed or it will print to the python console in there
for eb in database_object.keys():
    print eb

UBCx_Ph2_2035_Alt1A_2021-02-12
UBCx_Ph2_2050_Alt1C_2021-02-12
UBCx_Ph2_2035_Alt1D_2021-02-12
UBCx_Ph2_2050_Alt3B_2021-02-12
UBCx_Ph2_2035_Alt3B_2021-02-12
UBCx_Ph2_2035_Alt1C_2021-02-12
UBCx_Ph2_2050_Alt2A_2021-02-12
UBCx_Ph2_2050_Alt2B_2021-02-12
UBCx_Ph2_2050_Alt4C_2021-02-12
UBCx_Ph2_2035_Alt1B_2021-02-12
UBCx_Ph2_2035_Alt4A_2021-02-12
UBCx_Ph2_2035BAU_2021-02-12
UBCx_Ph2_2050BAU_2021-02-12
UBCx_Ph2_2050_Alt4A_2021-02-12
UBCx_Ph2_2050_Alt1B_2021-02-12
UBCx_Ph2_2035_Alt2B_2021-02-12
UBCx_Ph2_2050_Alt3C_2021-02-12
UBCx_Ph2_2035_Alt2A_2021-02-12
UBCx_Ph2_2035_Alt3A_2021-02-12
UBCx_Ph2_2050_Alt3A_2021-02-12
UBCx_Ph2_2050_Alt4B_2021-02-12
UBCx_Ph2_2050_Alt1D_2021-02-12
UBCx_Ph2_2050_Alt1A_2021-02-12
UBCx_Ph2_2035_Alt4B_2021-02-12
UBCx_Ph2_2035_Alt4C_2021-02-12
Minimal Base Databank
UBCx_Ph2_2035_Alt3C_2021-02-12

In [4]:
def df_pivot(table, index, columns, values):
    
    table = pd.pivot(table, index=index,
                          columns=columns,values=values).reset_index().reset_index()
    table.columns = ["index"]+list(table.columns)[1:]
    table = table.drop(columns="index")
    return table

In [5]:
# print table in notebook results
class ListTable(list):
    """ Overridden list class which takes a 2-dimensional list of 
        the form [[1,2,3],[4,5,6]], and renders an HTML Table in 
        IPython Notebook. """
    
    def _repr_html_(self):
        html = ["<table>"]
        for row in self:
            html.append("<tr>")
            
            for col in row:
                html.append("<td>{0}</td>".format(col))
            
            html.append("</tr>")
        html.append("</table>")
        return ''.join(html)

# Scenarios and Assumptions Info

In [6]:
scenarios_input = pd.read_csv(os.path.join("..","EconomicAnalysis\EconomicAnalysisTool_Input.csv"))

# load alternative databanks
alternative_table = scenarios_input[["Alternative","Alternative Databank","Horizon"]]
bau_table = pd.DataFrame()
bau_table[["Alternative Databank","Horizon"]] = scenarios_input[["BAU Databank","Horizon"]]
bau_table["Alternative"] = "BAU"
scenarios_table = pd.DataFrame()
scenarios_table[["Scenario","Databank","Horizon"]] = pd.concat([bau_table,alternative_table], 
                                                               sort=False)[["Alternative","Alternative Databank","Horizon"]]
scenarios_table = scenarios_table.reset_index(drop=True).drop_duplicates()
scenarios_table

   Scenario                        Databank  Horizon
0       BAU     UBCx_Ph2_2035BAU_2021-02-12     2035
12      BAU     UBCx_Ph2_2050BAU_2021-02-12     2050
24    Alt1A  UBCx_Ph2_2035_Alt1A_2021-02-12     2035
25    Alt1B  UBCx_Ph2_2035_Alt1B_2021-02-12     2035
26    Alt1C  UBCx_Ph2_2035_Alt1C_2021-02-12     2035
27    Alt1D  UBCx_Ph2_2035_Alt1D_2021-02-12     2035
28    Alt2A  UBCx_Ph2_2035_Alt2A_2021-02-12     2035
29    Alt2B  UBCx_Ph2_2035_Alt2B_2021-02-12     2035
30    Alt3A  UBCx_Ph2_2035_Alt3A_2021-02-12     2035
31    Alt3B  UBCx_Ph2_2035_Alt3B_2021-02-12     2035
32    Alt3C  UBCx_Ph2_2035_Alt3C_2021-02-12     2035
33    Alt4A  UBCx_Ph2_2035_Alt4A_2021-02-12     2035
34    Alt4B  UBCx_Ph2_2035_Alt4B_2021-02-12     2035
35    Alt4C  UBCx_Ph2_2035_Alt4C_2021-02-12     2035
36    Alt1A  UBCx_Ph2_2050_Alt1A_2021-02-12     2050
37    Alt1B  UBCx_Ph2_2050_Alt1B_2021-02-12     2050
38    Alt1C  UBCx_Ph2_2050_Alt1C_2021-02-12     2050
39    Alt1D  UBCx_Ph2_2050_Alt1D_2021-02-12     2050
40    Alt2A  UBCx_Ph2_2050_Alt2A_2021-02-12     2050
41    Alt2B  UBCx_Ph2_2050_Alt2B_2021-02-12     2050
42    Alt3A  UBCx_Ph2_2050_Alt3A_2021-02-12     2050
43    Alt3B  UBCx_Ph2_2050_Alt3B_2021-02-12     2050
44    Alt3C  UBCx_Ph2_2050_Alt3C_2021-02-12     2050
45    Alt4A  UBCx_Ph2_2050_Alt4A_2021-02-12     2050
46    Alt4B  UBCx_Ph2_2050_Alt4B_2021-02-12     2050
47    Alt4C  UBCx_Ph2_2050_Alt4C_2021-02-12     2050

# A. Customer Service & User Experience

### *) Average Transit Travel Time
AM Transit Travel Time from Arbutus to UBC [min]

In [ ]:
fromlocation, fromTAZ = ["Arbutus", 23360]
tolocation, toTAZ = ["UBC1", 21060]

rounding = 0
eb = _m.Modeller().emmebank
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()

fromTAZ_index = ZoneList.index(fromTAZ)
toTAZ_index   = ZoneList.index(toTAZ)

table = ListTable()
table.append(['Scenario \ HorizonYear', '2017', '2035', '2050'])

transit_tt = scenarios_table.copy()
transit_tt["TransitTravelTime"] = -1
for index,row in transit_tt.iterrows():
    eb = open_emmbank(row["Databank"])
    
    # calculate bus travel time
    bus_time  = util.get_matrix_numpy(eb, "AmBusIvtt")
    bus_time += util.get_matrix_numpy(eb, "AmBusWait")
    bus_time += util.get_matrix_numpy(eb, "AmBusAux")
    bus_time += util.get_matrix_numpy(eb, "AmBusBoard")
    # calculate rail travel time
    rail_time  = util.get_matrix_numpy(eb, "AmRailIvtt")
    rail_time += util.get_matrix_numpy(eb, "AmRailIvttBus")
    rail_time += util.get_matrix_numpy(eb, "AmRailWait")
    rail_time += util.get_matrix_numpy(eb, "AmRailAux")
    rail_time += util.get_matrix_numpy(eb, "AmRailBoard")
    # calculate wce travel time
    wce_time  = util.get_matrix_numpy(eb, "AmWceIvtt")
    wce_time += util.get_matrix_numpy(eb, "AmWceIvttRail")
    wce_time += util.get_matrix_numpy(eb, "AmWceIvttBus")
    wce_time += util.get_matrix_numpy(eb, "AmWceWait")
    wce_time += util.get_matrix_numpy(eb, "AmWceAux")
    wce_time += util.get_matrix_numpy(eb, "AmWceBoard")
    # calulate transit travel time = min(bus, rail, wce)
    transit_time = np.minimum(bus_time, rail_time)
    transit_time = np.minimum(transit_time, wce_time)
    
    transit_tt.at[index,"TransitTravelTime"] = transit_time[fromTAZ_index][toTAZ_index]
    
transit_tt = df_pivot(transit_tt, "Scenario", "Horizon", "TransitTravelTime")
transit_tt

### A1) Reduce Transit Travel Times
Annual System-wide Transit Time Savings in Hours (for BAU/Existing demand)

In [11]:
#re-export transit time savings without perception factors
def ExportData(eb, Dict, filename):
    util = _m.Modeller().tool("translink.util")
        
    OutputPath = os.path.join(util.get_eb_path(_m.Modeller().emmebank), 'EconomicAnalysis')
    if not os.path.exists(OutputPath):
        os.makedirs(OutputPath)
    OutputFile = os.path.join(OutputPath, filename)
    np.savez_compressed(OutputFile, **Dict)

def rename_ROH_TransitTimeCost(eb, mf_number):
    #convert matrix name to npz export name
        
    matrix_name = eb.matrix("mf{}".format(mf_number)).name
    Time_of_Day = matrix_name[:2]
    if "Rail" in matrix_name:
        Class = "RAL"
    else:
        Class = matrix_name[2:5]
    export_name = Time_of_Day + "C" + Class + "9"
    return export_name.upper()

def Export_ROH_TimeCost(eb):
    util = _m.Modeller().tool("translink.util")
    with_previous_export = os.path.isfile(os.path.join(util.get_eb_path(eb), 'EconomicAnalysis', 'ROH_Time_TransitRealTime.npz'))
    if with_previous_export:
        return # do not re-export
    
    Time_Dict = {}
    # list Transit Fare matrix number to be exported
    matrix_list = []
    matrix_list += [5304, 5314, 5324] # AM/MD/PM Bus Fare
    matrix_list += [5505, 5515, 5525] # AM/MD/PM Rail Fare
    matrix_list += [5706, 5726] # AM/PM WCE Fare
    NoTAZ = len(util.get_matrix_numpy(eb, "zoneindex"))
    for mat_id in matrix_list:
        mat_name = "mf{}".format(mat_id)
        name_key = rename_ROH_TransitTimeCost(eb, mat_id)
        
        name_key = name_key[:2] + "M" + name_key[-4:]
        TimeMatrixCount = int(mat_name[-1])
        Time_Dict[name_key] = np.zeros((NoTAZ,NoTAZ))
        for TimeMatrixDigit in range(0,TimeMatrixCount):
            transit_perception_factor = 1.0
            time_mat_name = mat_name[:-1] + str(TimeMatrixDigit)
            Time_Dict[name_key] += util.get_matrix_numpy(eb, time_mat_name)*transit_perception_factor
            
    ExportData(eb, Time_Dict, "ROH_Time_TransitRealTime.npz")
    
for index, row in scenarios_input.iterrows():
    ProjectScenarioFolder = row["Alternative Databank"]
    BAUScenarioFolder = row["BAU Databank"]
    
    eb = open_emmbank(ProjectScenarioFolder)
    eb = _m.Modeller().emmebank
    Export_ROH_TimeCost(eb)
    eb = open_emmbank(BAUScenarioFolder)
    eb = _m.Modeller().emmebank
    Export_ROH_TimeCost(eb)

In [12]:
transit_tt_savings = scenarios_input.copy()
transit_tt_savings["transit_time_savings[hours]"]=-1

result = ['Person-Hours by Transit Mode','N/A', 'N/A']
rounding = -2

# mode_list = {mode_category: mode_group [mode, mode, mode]}
mode_list = {"Auto": ["SOV1", "SOV2", "SOV3", "SOV4", "HOV1", "HOV2", "HOV3"],
             "Transit": ["BUS", "RAL", "WCE"],
             "Light_Truck": ["LGV"], 
             "Heavy_Truck": ["HGV"]}

expansion_factors = {"SOV": [3.44, 8.41, 3.95],
                     "HOV": [1.51, 8.58, 5.32],
                     "BUS": [4.24, 4.85, 4.22],
                     "RAL": [4.24, 4.85, 4.22],
                     "WCE": [3.34,    0, 2.02],
                     "LGV": [3.59, 5.63, 6.17],
                     "HGV": [4.88, 5.43, 6.36]}

DailyToAnnual_factors = {"SOV":335,"HOV":335,"BUS":276,"RAL":276,"WCE":224,"LGV":313,"HGV":276}

eb = _m.Modeller().emmebank
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
NoTAZ = len(ZoneList)
project_dir = os.path.abspath(os.path.join(eb.path,"../.."))

TAZ_Result = {}
TAZ_Result["TAZ"] = ZoneList
    
for index, row in transit_tt_savings.iterrows():
    ProjectScenarioFolder = row["Alternative Databank"]
    BAUScenarioFolder = row["BAU Databank"]
    
    Base_Demand= np.load(project_dir+"\\"+BAUScenarioFolder+"\\EconomicAnalysis\\ROH_Demand.npz")
    #Base_Time  = np.load(project_dir+BAUScenarioFolder+"/EconomicAnalysis/ROH_Time.npz")
    Base_Time= np.load(project_dir+"\\"+BAUScenarioFolder+"\\EconomicAnalysis\\ROH_Time_TransitRealTime.npz")
    Altr_Demand= np.load(project_dir+"\\"+ProjectScenarioFolder+"\\EconomicAnalysis\\ROH_Demand.npz")
    #Altr_Time  = np.load(project_dir+ProjectScenarioFolder+"/EconomicAnalysis/ROH_Time.npz")
    Altr_Time= np.load(project_dir+"\\"+ProjectScenarioFolder+"\\EconomicAnalysis\\ROH_Time_TransitRealTime.npz")
    
    Annual_Time_BenefitMinutes = 0
    
    for mode in ["BUS", "RAL"]:
        mode = mode + "9"
        
        Time_Benefit_AM = np.minimum(Base_Demand["AMT"+mode], Altr_Demand["AMT"+mode]) * (Base_Time["AMM"+mode] - Altr_Time["AMM"+mode])
        Time_Benefit_MD = np.minimum(Base_Demand["MDT"+mode], Altr_Demand["MDT"+mode]) * (Base_Time["MDM"+mode] - Altr_Time["MDM"+mode])
        Time_Benefit_PM = np.minimum(Base_Demand["PMT"+mode], Altr_Demand["PMT"+mode]) * (Base_Time["PMM"+mode] - Altr_Time["PMM"+mode])
        
        AM_Fac, MD_Fac, PM_Fac = expansion_factors[mode[:3]]
        AnnualFactor = DailyToAnnual_factors[mode[:3]]
        Annual_Time_BenefitMinutes += (Time_Benefit_AM * AM_Fac + Time_Benefit_MD * MD_Fac + Time_Benefit_PM * PM_Fac)*AnnualFactor
    
    result =  int(round((Annual_Time_BenefitMinutes.sum())/60,rounding)) #convert minutes to hours
    transit_tt_savings.at[index,"transit_time_savings[hours]"] = result
    
    scenario_name = row["Alternative"]+"_"+str(row["Horizon"])
    TAZ_Result[scenario_name] = np.sum(Annual_Time_BenefitMinutes,axis=1)

TAZ_Result=pd.DataFrame.from_dict(TAZ_Result,orient='index').transpose()
TAZ_Result_Header = ['TAZ']  + [col for col in TAZ_Result if col != 'TAZ']
TAZ_Result=TAZ_Result[TAZ_Result_Header]
TAZ_Result.to_csv("A1_Wide.csv",index=False)
    
transit_tt_savings = df_pivot(transit_tt_savings, "Alternative", "Horizon", "transit_time_savings[hours]")
transit_tt_savings

   Alternative     2035     2050
0        Alt1A  3178500  4152000
1        Alt1B  3092800  4030000
2        Alt1C  3215000  4194000
3        Alt1D  3136300  4092200
4        Alt2A  3030600  3981300
5        Alt2B  3058900  4033200
6        Alt3A  2614100  3470700
7        Alt3B  2511700  3387100
8        Alt3C  2731900  3611100
9        Alt4A  2461000  3291400
10       Alt4B  2422200  3222300
11       Alt4C  2617900  3448400

In [22]:
# pivot table
transit_tt_savings = pd.read_csv("A1_Wide.csv")
transit_tt_savings["TAZ"] = transit_tt_savings["TAZ"].astype(int)
transit_tt_savings = transit_tt_savings[transit_tt_savings.TAZ>9999]
transit_tt_savings = pd.melt(transit_tt_savings, id_vars=["TAZ"], value_vars=list(transit_tt_savings)[1:])
transit_tt_savings[["Alternative","Horizon"]] = transit_tt_savings["variable"].str.rsplit("_", n=2, expand=True)
transit_tt_savings = transit_tt_savings[["TAZ","Horizon","Alternative","value"]].round(2)
transit_tt_savings.rename(columns={"value":"AnnualTransitTravelTimeSavings[hr]"}, inplace=True)
transit_tt_savings = transit_tt_savings[transit_tt_savings.Horizon=="2050"].sort_values(["Alternative","TAZ"])
transit_tt_savings.to_csv("A1.csv",index=False)
transit_tt_savings.head()

        TAZ Horizon Alternative  AnnualTransitTravelTimeSavings[hr]
5100  11010    2050       Alt1A                               60.62
5101  11020    2050       Alt1A                                0.00
5102  11030    2050       Alt1A                            25147.65
5103  11040    2050       Alt1A                                0.00
5104  11050    2050       Alt1A                             4524.31

### A3) Improve Safety and Security
2035/2050 Reduction in accidents and collisions (vkt-based)

In [12]:
def compute_network_based_vkt(sc):
    util = _m.Modeller().tool("translink.util")
    calc_link = _m.Modeller().tool("inro.emme.network_calculation.network_calculator")
    
    spec = {"result": None, "expression": "(@sov1+@sov2+@sov3+@sov4)*length", "selections": {"link": "all"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    SOV_VKT = calc_link(spec)["sum"]
    spec = {"result": None, "expression": "(@hov1+@hov2+@hov3)*length", "selections":  {"link": "all"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    HOV_VKT = calc_link(spec)["sum"]
    spec = {"result": None, "expression": "(@lgvol/1.5)*length", "selections":  {"link": "all"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    LGV_VKT = calc_link(spec)["sum"]
    spec = {"result": None, "expression": "(@hgvol/2.5)*length", "selections":  {"link": "all"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    HGV_VKT = calc_link(spec)["sum"]
    spec = {"result": None, "expression": "volad*length", "selections":  {"link": "all"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    BUS_VKT = calc_link(spec)["sum"]
    return SOV_VKT, HOV_VKT, LGV_VKT, HGV_VKT, BUS_VKT

rounding = -2
        
TimeofdayToDaily_factors = {"SOV": [3.44, 8.41, 3.95], #AM,MD,PM
                            "HOV": [1.51, 8.58, 5.32],
                            "BUS": [4.24, 4.85, 4.22],
                            "LGV": [3.59, 5.63, 6.17],
                            "HGV": [4.88, 5.43, 6.36]}
DailyToAnnual_factors = [335,335,313,276,276] #SOV,HOV,LGV,HGV,BUS

vkt_table = scenarios_input.copy()
vkt_table["Daily"] = -1.0
vkt_table["Annual"] = -1.0
vkt_table["AM Peak"] = -1.0
vkt_table["PM Peak"] = -1.0

vkt_percapita_table = scenarios_input.copy()
vkt_percapita_table["Daily Reduction per Capita"] = -1.0
vkt_percapita_table["Annual Reduction per Capita"] = -1.0

vkt_table_UBC = scenarios_input.copy()
vkt_table_UBC["Annual VKT Reduction"] = -1.0
vkt_table_UBC["Annual VKT Reduction per Capita"] = -1.0

annual_vkt_reduction_by_mode = scenarios_input.copy()
annual_vkt_reduction_by_mode["Auto"] = -1.0
annual_vkt_reduction_by_mode["Bus"] = -1.0
annual_vkt_reduction_by_mode["LGV"] = -1.0
annual_vkt_reduction_by_mode["HGV"] = -1.0

rounding = -2

for index, row in vkt_table.iterrows():
    ProjectScenario = row["Alternative Databank"]
    BAUScenario = row["BAU Databank"]
    
    #get Project VKT Dictionary
    eb = open_emmbank(ProjectScenario)
    am_scenario = int(eb.matrix("ms2").data)
    md_scenario = int(eb.matrix("ms3").data)
    pm_scenario = int(eb.matrix("ms4").data)
    Project_VKT = {}
    db = de.active_database()
    for sc in db.scenarios():
        scenario_number = sc.number()
        if scenario_number in [am_scenario, md_scenario, pm_scenario]:
            de.replace_primary_scenario(sc)
            TimeOfDay_Index = [am_scenario, md_scenario, pm_scenario].index(scenario_number)
            TimeOfDays = ["AM","MD","PM"]
            Project_VKT[TimeOfDays[TimeOfDay_Index]]=compute_network_based_vkt(sc)
    
    #get BAU VKT Dictionary
    eb = open_emmbank(BAUScenario)
    am_scenario = int(eb.matrix("ms2").data)
    md_scenario = int(eb.matrix("ms3").data)
    pm_scenario = int(eb.matrix("ms4").data)
    BAU_VKT = {}
    db = de.active_database()
    for sc in db.scenarios():
        scenario_number = sc.number()
        if scenario_number in [am_scenario, md_scenario, pm_scenario]:
            de.replace_primary_scenario(sc)
            TimeOfDay_Index = [am_scenario, md_scenario, pm_scenario].index(scenario_number)
            TimeOfDay = ["AM","MD","PM"]
            BAU_VKT[TimeOfDay[TimeOfDay_Index]]=compute_network_based_vkt(sc)
    
    population = util.get_matrix_numpy(eb, "mo10").sum()
    
    #Compute AM/MD/PM/Daily/Annual VKT
    VKT_Summary = []
    for VKT_Dict in [BAU_VKT, Project_VKT]:
        VKT_ScenarioSummary = []
        DailyVKT = 0
        AnnualVKT = 0
        SOV_AnnualVKT = 0
        HOV_AnnualVKT = 0
        LGV_AnnualVKT = 0
        HGV_AnnualVKT = 0 
        BUS_AnnualVKT = 0        
        for TimePeriod in ["AM","MD","PM"]:
            SOV,HOV,LGV,HGV,BUS = VKT_Dict[TimePeriod]
            VKT_ScenarioSummary.append(SOV+HOV+LGV+HGV)
            
            TimeOfDay_Index = ["AM","MD","PM"].index(TimePeriod)
            DailyVKT += SOV*TimeofdayToDaily_factors["SOV"][TimeOfDay_Index]
            DailyVKT += HOV*TimeofdayToDaily_factors["HOV"][TimeOfDay_Index]
            DailyVKT += LGV*TimeofdayToDaily_factors["LGV"][TimeOfDay_Index]
            DailyVKT += HGV*TimeofdayToDaily_factors["HGV"][TimeOfDay_Index]
            
            SOV_AnnualVKT += SOV*TimeofdayToDaily_factors["SOV"][TimeOfDay_Index]*DailyToAnnual_factors[0]
            HOV_AnnualVKT += HOV*TimeofdayToDaily_factors["HOV"][TimeOfDay_Index]*DailyToAnnual_factors[1]
            LGV_AnnualVKT += LGV*TimeofdayToDaily_factors["LGV"][TimeOfDay_Index]*DailyToAnnual_factors[2]
            HGV_AnnualVKT += HGV*TimeofdayToDaily_factors["HGV"][TimeOfDay_Index]*DailyToAnnual_factors[3]
            
            BUS_AnnualVKT += BUS*TimeofdayToDaily_factors["BUS"][TimeOfDay_Index]*DailyToAnnual_factors[4]
            
        AnnualVKT += SOV_AnnualVKT
        AnnualVKT += HOV_AnnualVKT
        AnnualVKT += LGV_AnnualVKT
        AnnualVKT += HGV_AnnualVKT
            
        VKT_ScenarioSummary.append(DailyVKT)
        VKT_ScenarioSummary.append(AnnualVKT)
        VKT_ScenarioSummary.append(SOV_AnnualVKT)
        VKT_ScenarioSummary.append(HOV_AnnualVKT)
        VKT_ScenarioSummary.append(LGV_AnnualVKT)
        VKT_ScenarioSummary.append(HGV_AnnualVKT)
        VKT_ScenarioSummary.append(BUS_AnnualVKT)
        VKT_Summary.append(VKT_ScenarioSummary)
            
    VKT_Reduction = [BAU_VKT_i - Project_VKT_i for BAU_VKT_i, Project_VKT_i in zip (VKT_Summary[0], VKT_Summary[1])]
    VKT_Reduction_percapita = [round(x/population, 2) for x in VKT_Reduction]
    VKT_Reduction_round = [int(round(x, rounding)) for x in VKT_Reduction]
    
    vkt_table.at[index,"Daily"] = VKT_Reduction_round[3]
    vkt_table.at[index,"Annual"] = VKT_Reduction_round[4]
    vkt_table.at[index,"AM Peak"] = VKT_Reduction_round[0]
    vkt_table.at[index,"PM Peak"] = VKT_Reduction_round[2]
    
    vkt_percapita_table.at[index,"Daily Reduction per Capita"] = VKT_Reduction_percapita[3]
    vkt_percapita_table.at[index,"Annual Reduction per Capita"] = VKT_Reduction_percapita[4]
    
    vkt_table_UBC.at[index,"Annual VKT Reduction"] = VKT_Reduction_round[4]
    vkt_table_UBC.at[index,"Annual VKT Reduction per Capita"] = VKT_Reduction_percapita[4]
    
    annual_vkt_reduction_by_mode.at[index,"Auto"] = VKT_Reduction[5] + VKT_Reduction[6]
    annual_vkt_reduction_by_mode.at[index,"Bus"]  = VKT_Reduction[9]
    annual_vkt_reduction_by_mode.at[index,"LGV"]  = VKT_Reduction[7]
    annual_vkt_reduction_by_mode.at[index,"HGV"]  = VKT_Reduction[8]
    
vkt_table = vkt_table.drop(columns=["Alternative Databank","BAU Databank"])
vkt_percapita_table = vkt_percapita_table.drop(columns=["Alternative Databank","BAU Databank"])
vkt_table_UBC = vkt_table_UBC.drop(columns=["Alternative Databank","BAU Databank"])
annual_vkt_reduction_by_mode = annual_vkt_reduction_by_mode.drop(columns=["Alternative Databank","BAU Databank"])

In [13]:
collision_factor = 0.65/1000000

collision_table = vkt_table.copy()
collision_table["Annual Collision Reduction"] = collision_table["Annual"]*collision_factor
collision_table = collision_table.drop(columns=["Daily","Annual","AM Peak","PM Peak"])
collision_table.to_csv("A3.csv",index=False)
collision_table

   Alternative  Horizon  Annual Collision Reduction
0        Alt1A     2035                   37.935365
1        Alt1B     2035                   40.320735
2        Alt1C     2035                   41.900625
3        Alt1D     2035                   44.128890
4        Alt2A     2035                   39.993135
5        Alt2B     2035                   44.225740
6        Alt3A     2035                   33.462520
7        Alt3B     2035                   35.639370
8        Alt3C     2035                   40.237990
9        Alt4A     2035                   32.289595
10       Alt4B     2035                   35.341410
11       Alt4C     2035                   39.431860
12       Alt1A     2050                   42.633305
13       Alt1B     2050                   44.690360
14       Alt1C     2050                   47.480485
15       Alt1D     2050                   49.291710
16       Alt2A     2050                   44.765240
17       Alt2B     2050                   50.129625
18       Alt3A     2050                   38.194585
19       Alt3B     2050                   40.356160
20       Alt3C     2050                   45.818565
21       Alt4A     2050                   38.020970
22       Alt4B     2050                   39.931515
23       Alt4C     2050                   44.893550

### A4a) Baseline Auto Travel Time Savings
Annual Auto Travel Time Savings in Hours

In [9]:
auto_tt_savings = scenarios_input.copy()
auto_tt_savings["auto_time_savings[hours]"]=-1

result = ['Person-Hours by Auto Mode','N/A', 'N/A']
rounding = -2
eb = _m.Modeller().emmebank
project_dir = os.path.abspath(os.path.join(eb.path,"../.."))

# mode_list = {mode_category: mode_group [mode, mode, mode]}
mode_list = {"Auto": ["SOV1", "SOV2", "SOV3", "SOV4", "HOV1", "HOV2", "HOV3"],
             "Transit": ["BUS", "RAL", "WCE"],
             "Light_Truck": ["LGV"], 
             "Heavy_Truck": ["HGV"]}

expansion_factors = {"SOV": [3.44, 8.41, 3.95],
                     "HOV": [1.51, 8.58, 5.32],
                     "BUS": [4.24, 4.85, 4.22],
                     "RAL": [4.24, 4.85, 4.22],
                     "WCE": [3.34,    0, 2.02],
                     "LGV": [3.59, 5.63, 6.17],
                     "HGV": [4.88, 5.43, 6.36]}

DailyToAnnual_factors = {"SOV":335,"HOV":335,"BUS":276,"RAL":276,"WCE":224,"LGV":313,"HGV":276}

TAZ_Result_auto = {}
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
TAZ_Result_auto["TAZ"] = ZoneList

for index, row in auto_tt_savings.iterrows():
    ProjectScenarioFolder = row["Alternative Databank"]
    BAUScenarioFolder = row["BAU Databank"]
    
    Base_Demand= np.load(project_dir+"\\"+BAUScenarioFolder+"\\EconomicAnalysis/ROH_Demand.npz")
    Base_Time  = np.load(project_dir+"\\"+BAUScenarioFolder+"\\EconomicAnalysis/ROH_Time.npz")
    Altr_Demand= np.load(project_dir+"\\"+ProjectScenarioFolder+"\\EconomicAnalysis/ROH_Demand.npz")
    Altr_Time  = np.load(project_dir+"\\"+ProjectScenarioFolder+"\\EconomicAnalysis/ROH_Time.npz")
    
    Annual_Time_BenefitMinutes = 0
    
    for mode in mode_list["Auto"]:
        
        Time_Benefit_AM = (np.minimum(Base_Demand["AMT"+mode], Altr_Demand["AMT"+mode]) * (Base_Time["AMM"+mode] - Altr_Time["AMM"+mode]))
        Time_Benefit_MD = (np.minimum(Base_Demand["MDT"+mode], Altr_Demand["MDT"+mode]) * (Base_Time["MDM"+mode] - Altr_Time["MDM"+mode]))
        Time_Benefit_PM = (np.minimum(Base_Demand["PMT"+mode], Altr_Demand["PMT"+mode]) * (Base_Time["PMM"+mode] - Altr_Time["PMM"+mode]))
        
        AM_Fac, MD_Fac, PM_Fac = expansion_factors[mode[:3]]
        AnnualFactor = DailyToAnnual_factors[mode[:3]]
        Annual_Time_BenefitMinutes += (Time_Benefit_AM * AM_Fac + Time_Benefit_MD * MD_Fac + Time_Benefit_PM * PM_Fac)*AnnualFactor
    
    result=int(round((Annual_Time_BenefitMinutes.sum())/60,rounding))#convert minutes to hours
    auto_tt_savings.at[index,"auto_time_savings[hours]"] = result
    
    scenario_name = row["Alternative"]+"_"+str(row["Horizon"])
    TAZ_Result_auto[scenario_name] = np.sum(Annual_Time_BenefitMinutes/60,axis=1)

TAZ_Result_auto=pd.DataFrame.from_dict(TAZ_Result_auto,orient='index').transpose()
TAZ_Result_auto_Header = ['TAZ']  + [col for col in TAZ_Result_auto if col != 'TAZ']
TAZ_Result_auto=TAZ_Result_auto[TAZ_Result_auto_Header]
TAZ_Result_auto.to_csv("A4a_Wide.csv",index=False)

auto_tt_savings = df_pivot(auto_tt_savings, "Alternative", "Horizon", "auto_time_savings[hours]")
auto_tt_savings

   Alternative     2035     2050
0        Alt1A  1481900  2008900
1        Alt1B  1559400  2064900
2        Alt1C  1605000  2164900
3        Alt1D  1667600  2248600
4        Alt2A  1539500  2077200
5        Alt2B  1682600  2252100
6        Alt3A  1319700  1811300
7        Alt3B  1385000  1875000
8        Alt3C  1526800  2070700
9        Alt4A  1110200  1546800
10       Alt4B  1209500  1616200
11       Alt4C  1337500  1778400

In [10]:
# pivot table
auto_tt_savings = pd.read_csv("A4a_Wide.csv")
auto_tt_savings["TAZ"] = auto_tt_savings["TAZ"].astype(int)
auto_tt_savings = auto_tt_savings[auto_tt_savings.TAZ>9999]
auto_tt_savings = pd.melt(auto_tt_savings, id_vars=["TAZ"], value_vars=list(auto_tt_savings)[1:])
auto_tt_savings[["Alternative","Horizon"]] = auto_tt_savings["variable"].str.rsplit("_", n=2, expand=True)
auto_tt_savings = auto_tt_savings[["TAZ","Horizon","Alternative","value"]].round(2)
auto_tt_savings.rename(columns={"value":"AnnualAutoTravelTimeSavings[hr]"}, inplace=True)
auto_tt_savings = auto_tt_savings[auto_tt_savings.Horizon=="2050"].sort_values(["Alternative","TAZ"])
auto_tt_savings.to_csv("A4a.csv",index=False)
auto_tt_savings.head()

        TAZ Horizon Alternative  AnnualAutoTravelTimeSavings[hr]
5100  11010    2050       Alt1A                           134.41
5101  11020    2050       Alt1A                           176.30
5102  11030    2050       Alt1A                          1010.86
5103  11040    2050       Alt1A                          2083.69
5104  11050    2050       Alt1A                           317.81

### A4b) Reduce Road Congestion
Reduction in auto delay along the corridor (Broadway from Commerical Drive to UBC) <br>
AM and PM (both directions) - Link Based Travel Time

In [9]:
def tag_broadway(eb, scenario):
    util = _m.Modeller().tool("translink.util")
    calc_link = _m.Modeller().tool("inro.emme.network_calculation.network_calculator")
    create_extra = _m.Modeller().tool("inro.emme.data.extra_attribute.create_extra_attribute")
    tag_tool = _m.Modeller().tool("translink.RTM3Analytics.GeographicTagging")
            
    # tag Broadway corridor
    create_extra(extra_attribute_type="LINK",
                 extra_attribute_name="@broadway",
                 extra_attribute_description="Broadway Corridor",
                 overwrite=True)
    # tag broadwau links
    linkattributeName = "@broadway"
    polygonfile = os.path.abspath(os.path.join(eb.path, "..", "..", 
                                  "Media", "MAE", "Broadway.shp"))
    algorithm = "do_not_change"
    excludeconnector = True
    default = 0
    polygonfield = "broadway"
    scen = eb.scenario(scenario)
    tag_tool(scen,linkattributeName,polygonfile,polygonfield,
             algorithm,excludeconnector,default)
    
    # exclude HOV lanes, mode d = SOV
    spec = {"result":"@broadway", "expression": "@broadway+1", "selections": {"link": "modes=d"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    calc_link(spec)
    spec = {"result":"@broadway", "expression": "(@broadway-1).max.0", "selections": {"link": "all"}, "aggregation": None, "type": "NETWORK_CALCULATION"}
    calc_link(spec)
            
    # save transit segment volume @voltravg
    export_filepath = os.path.join(os.getcwd(), "Broadway.csv")
    dt.refresh_data()
    link_table.export(export_filepath)

    # append horizon and scenario
    broadyway_traveltime = pd.read_csv(export_filepath)

    # filter the WB routes
    net = eb.scenario(scenario).get_network()
    for i,row_i in broadyway_traveltime.iterrows():
        broadyway_traveltime.at[i,"i_x"] = net.node(row_i["i"]).x
        broadyway_traveltime.at[i,"j_x"] = net.node(row_i["j"]).x
    broadyway_traveltime["dir"] = np.where(broadyway_traveltime["i_x"]>broadyway_traveltime["j_x"], "WB", "EB")
    os.remove(export_filepath)
    
    broadyway_traveltime = broadyway_traveltime[["timau","VKT","VHT","dir"]].groupby("dir")["timau","VKT","VHT"].sum().reset_index()
    return broadyway_traveltime
    
root_worksheet_folder = dt.root_worksheet_folder()
link_table_path = root_worksheet_folder.find_item(["MAE","BroadwayTravelTime"])
link_table = link_table_path.open()
link_table.par("ExportColumnSeparator").set(",")

BroadwayTravelTimeSavingResults = scenarios_input.copy()

broadyway_traveltime_result = []
for index, row in BroadwayTravelTimeSavingResults.iterrows():
    ProjectScenario = row["Alternative Databank"]
    BAUScenario = row["BAU Databank"]
    
    BAU_Alter_Table = []
    for Alternative, databank_name in [["BAU", row["BAU Databank"]],
                                       ["Altr",row["Alternative Databank"]]]:
        # get travel times
        eb = open_emmbank(databank_name)
        am_scenario = int(eb.matrix("ms2").data)
        pm_scenario = int(eb.matrix("ms4").data)
        db = de.active_database()
        AMPM_TravelTime = []
        for sc in db.scenarios():
            scenario_number = sc.number()
            if scenario_number in [am_scenario, pm_scenario]:
                de.replace_primary_scenario(sc)
                TimeOfDay_Index = [am_scenario, pm_scenario].index(scenario_number)

                # tag Broadway corridor
                broadyway_traveltime = tag_broadway(eb, scenario_number)
                broadyway_traveltime["Horizon"] = row["Horizon"]
                broadyway_traveltime["Alternative"] = row["Alternative"]
                broadyway_traveltime["Peak"] = ["AM","PM"][TimeOfDay_Index]
                broadyway_traveltime.rename(columns={"timau":Alternative+"_TravelTime"}, inplace=True)
                broadyway_traveltime.rename(columns={"VKT":Alternative+"_VKT"}, inplace=True)
                broadyway_traveltime.rename(columns={"VHT":Alternative+"_VHT"}, inplace=True)
                AMPM_TravelTime.append(broadyway_traveltime)
        BAU_Alter_Table.append(pd.concat(AMPM_TravelTime).reset_index(drop=True))
        
    broadyway_traveltime = BAU_Alter_Table[0].merge(BAU_Alter_Table[1], how='outer', on=["Horizon","Peak","dir","Alternative"])
                
    broadyway_traveltime = broadyway_traveltime[["Horizon","Peak","dir","Alternative",
                                                 "Altr_TravelTime","BAU_TravelTime",
                                                 "Altr_VKT","BAU_VKT",
                                                 "Altr_VHT","BAU_VHT"]]
    broadyway_traveltime_result.append(broadyway_traveltime)

link_table.close()
broadyway_traveltime_result = pd.concat(broadyway_traveltime_result).reset_index(drop=True)
broadyway_traveltime_result["Reduction_In_Auto_Delay[min]"] = broadyway_traveltime_result["BAU_TravelTime"]-broadyway_traveltime_result["Altr_TravelTime"]
broadyway_traveltime_result["Reduction_In_VKT"] = broadyway_traveltime_result["BAU_VKT"]-broadyway_traveltime_result["Altr_VKT"]
broadyway_traveltime_result["Reduction_In_VHT"] = broadyway_traveltime_result["BAU_VHT"]-broadyway_traveltime_result["Altr_VHT"]
broadyway_traveltime_result.to_csv("A4b.csv",index=False)
broadyway_traveltime_result

,Horizon,Peak,dir,Alternative,Altr_TravelTime,BAU_TravelTime,Altr_VKT,BAU_VKT,Altr_VHT,BAU_VHT,Reduction_In_Auto_Delay[min],Reduction_In_VKT,Reduction_In_VHT
0,2035,AM,EB,Alt1A,25.60,25.90,8590.48,8906.47,296.51,311.15,0.30,315.99,14.64
1,2035,AM,WB,Alt1A,29.35,30.96,12193.50,13603.67,514.53,583.66,1.61,1410.17,69.13
2,2035,PM,EB,Alt1A,30.04,31.36,11700.07,12993.83,527.00,589.25,1.32,1293.76,62.25
3,2035,PM,WB,Alt1A,25.70,26.07,11250.68,11559.65,387.74,402.46,0.37,308.97,14.72
4,2035,AM,EB,Alt1B,25.55,25.90,8452.06,8906.47,291.01,311.15,0.35,454.41,20.14
5,2035,AM,WB,Alt1B,29.28,30.96,12127.59,13603.67,511.52,583.66,1.68,1476.08,72.14
6,2035,PM,EB,Alt1B,29.99,31.36,11634.66,12993.83,525.17,589.25,1.37,1359.17,64.08
7,2035,PM,WB,Alt1B,25.62,26.07,11132.89,11559.65,383.25,402.46,0.45,426.76,19.21
8,2035,AM,EB,Alt1C,25.57,25.90,8506.09,8906.47,293.22,311.15,0.33,400.38,17.93
9,2035,AM,WB,Alt1C,29.28,30.96,12132.61,13603.67,512.27,583.66,1.68,1471.06,71.39
10,2035,PM,EB,Alt1C,29.96,31.36,11604.70,12993.83,522.77,589.25,1.40,1389.13,66.48
11,2035,PM,WB,Alt1C,25.61,26.07,11148.75,11559.65,383.77,402.46,0.46,410.90,18.69
12,2035,AM,EB,Alt1D,25.50,25.90,8362.83,8906.47,287.67,311.15,0.40,543.64,23.48
13,2035,AM,WB,Alt1D,29.23,30.96,12070.41,13603.67,508.84,583.66,1.73,1533.26,74.82
14,2035,PM,EB,Alt1D,29.94,31.36,11536.25,12993.83,520.38,589.25,1.42,1457.58,68.87
15,2035,PM,WB,Alt1D,25.54,26.07,11024.11,11559.65,379.38,402.46,0.53,535.54,23.08
16,2035,AM,EB,Alt2A,25.54,25.90,8463.61,8906.47,291.05,311.15,0.36,442.86,20.10
17,2035,AM,WB,Alt2A,29.31,30.96,12160.10,13603.67,513.22,583.66,1.65,1443.57,70.44
18,2035,PM,EB,Alt2A,29.97,31.36,11668.54,12993.83,525.68,589.25,1.39,1325.29,63.57
19,2035,PM,WB,Alt2A,25.59,26.07,11133.26,11559.65,382.59,402.46,0.48,426.39,19.87
20,2035,AM,EB,Alt2B,25.49,25.90,8372.61,8906.47,287.53,311.15,0.41,533.86,23.62
21,2035,AM,WB,Alt2B,29.23,30.96,12098.69,13603.67,510.05,583.66,1.73,1504.98,73.61
22,2035,PM,EB,Alt2B,29.92,31.36,11561.50,12993.83,520.33,589.25,1.44,1432.33,68.92
23,2035,PM,WB,Alt2B,25.54,26.07,11045.40,11559.65,379.53,402.46,0.53,514.25,22.93
24,2035,AM,EB,Alt3A,25.55,25.90,8542.63,8906.47,294.44,311.15,0.35,363.84,16.71
25,2035,AM,WB,Alt3A,29.48,30.96,12441.22,13603.67,524.21,583.66,1.48,1162.45,59.45
26,2035,PM,EB,Alt3A,30.18,31.36,11896.69,12993.83,535.83,589.25,1.18,1097.14,53.42
27,2035,PM,WB,Alt3A,25.65,26.07,11229.04,11559.65,386.68,402.46,0.42,330.61,15.78
28,2035,AM,EB,Alt3B,25.53,25.90,8403.46,8906.47,289.08,311.15,0.37,503.01,22.07
29,2035,AM,WB,Alt3B,29.48,30.96,12372.53,13603.67,522.12,583.66,1.48,1231.14,61.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2050,PM,EB,Alt2A,31.29,33.11,12622.50,14098.66,592.28,671.59,1.82,1476.16,79.31
67,2050,PM,WB,Alt2A,26.55,27.33,12468.51,12934.98,439.80,465.10,0.78,466.47,25.30
68,2050,AM,EB,Alt2B,26.14,26.75,9439.15,10010.19,333.36,362.64,0.61,571.04,29.28
69,2050,AM,WB,Alt2B,30.40,32.56,12810.39,14462.97,561.97,650.22,2.16,1652.58,88.25
70,2050,PM,EB,Alt2B,31.17,33.11,12497.70,14098.66,585.98,671.59,1.94,1600.96,85.61
71,2050,PM,WB,Alt2B,26.47,27.33,12342.16,12934.98,434.85,465.10,0.86,592.82,30.25
72,2050,AM,EB,Alt3A,26.27,26.75,9568.55,10010.19,339.95,362.64,0.48,441.64,22.69
73,2050,AM,WB,Alt3A,30.66,32.56,13198.25,14462.97,578.52,650.22,1.90,1264.72,71.70
74,2050,PM,EB,Alt3A,31.46,33.11,12868.10,14098.66,603.48,671.59,1.65,1230.56,68.11
75,2050,PM,WB,Alt3A,26.62,27.33,12488.21,12934.98,441.71,465.10,0.71,446.77,23.39
76,2050,AM,EB,Alt3B,26.16,26.75,9443.26,10010.19,334.58,362.64,0.59,566.93,28.06
77,2050,AM,WB,Alt3B,30.65,32.56,13145.17,14462.97,577.08,650.22,1.91,1317.80,73.14
78,2050,PM,EB,Alt3B,31.43,33.11,12801.26,14098.66,600.14,671.59,1.68,1297.40,71.45
79,2050,PM,WB,Alt3B,26.53,27.33,12383.00,12934.98,437.62,465.10,0.80,551.98,27.48
80,2050,AM,EB,Alt3C,26.11,26.75,9337.63,10010.19,330.28,362.64,0.64,672.56,32.36
81,2050,AM,WB,Alt3C,30.64,32.56,13157.08,14462.97,576.99,650.22,1.92,1305.89,73.23
82,2050,PM,EB,Alt3C,31.41,33.11,12755.75,14098.66,598.40,671.59,1.70,1342.91,73.19
83,2050,PM,WB,Alt3C,26.43,27.33,12174.91,12934.98,429.87,465.10,0.90,760.07,35.23
84,2050,AM,EB,Alt4A,27.02,26.75,8461.78,10010.19,316.00,362.64,-0.27,1548.41,46.64
85,2050,AM,WB,Alt4A,31.46,32.56,12032.87,14462.97,553.81,650.22,1.10,2430.10,96.41
86,2050,PM,EB,Alt4A,32.35,33.11,11741.97,14098.66,577.68,671.59,0.76,2356.69,93.91
87,2050,PM,WB,Alt4A,27.23,27.33,11181.86,12934.98,410.25,465.10,0.10,1753.12,54.85
88,2050,AM,EB,Alt4B,26.86,26.75,8384.77,10010.19,311.23,362.64,-0.11,1625.42,51.41
89,2050,AM,WB,Alt4B,31.38,32.56,11987.46,14462.97,550.22,650.22,1.18,2475.51,100.00
90,2050,PM,EB,Alt4B,32.31,33.11,11714.00,14098.66,576.05,671.59,0.80,2384.66,95.54
91,2050,PM,WB,Alt4B,27.16,27.33,11105.30,12934.98,406.45,465.10,0.17,1829.68,58.65
92,2050,AM,EB,Alt4C,26.78,26.75,8304.55,10010.19,307.96,362.64,-0.03,1705.64,54.68
93,2050,AM,WB,Alt4C,31.35,32.56,12000.04,14462.97,550.40,650.22,1.21,2462.93,99.82
94,2050,PM,EB,Alt4C,32.32,33.11,11685.15,14098.66,574.88,671.59,0.79,2413.51,96.71
95,2050,PM,WB,Alt4C,27.01,27.33,10954.25,12934.98,400.58,465.10,0.32,1980.73,64.52

### *) Reduction in Auto Delay (for each trip)
Reduction in congestion minutes from congestion minutes OD matrix <br>
AM SOV3

In [23]:
def run_congestedassignment(eb):
    eb = open_emmbank(eb)
    congestion_assignment = _m.Modeller().tool("translink.congestedassignment")
    am_scen = eb.scenario(int(eb.matrix("msAmScen").data))
    md_scen = eb.scenario(int(eb.matrix("msMdScen").data))
    pm_scen = eb.scenario(int(eb.matrix("msPmScen").data))
    congestion_assignment(eb, am_scen, md_scen, pm_scen, "timau", 1)
    
for index,row in scenarios_table.iterrows():
    run_congestedassignment(row["Databank"])

In [ ]:
delay_reduction_table = []
header = ["alternative","horizon","from","to","auto delay reduction [min]"]

fromTAZ_List = [["Fleetwood", 63520], 
                ["Langley",   67080]]
toTAZ_List = [["SurreyCentral",       61440], 
              ["CommercialBroadway",  25420], 
              ["ProductionWay",       27520], 
              ["SFU",                 27160], 
              ["CoquitlamCityCentre", 32030]]
eb = _m.Modeller().emmebank
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
project_dir = os.path.abspath(os.path.join(eb.path,"../.."))

table = ListTable()
for index, row in scenarios_input.iterrows():
    ScenarioFolder = row["Alternative Databank"]
    BAUFolder = row["BAU Databank"]
    
    Delay_Project  = np.load(project_dir+"\\"+ScenarioFolder+"\\EconomicAnalysis\\TIMECONG.npz")
    Delay_BAU  = np.load(project_dir+"\\"+BAUFolder+"\\EconomicAnalysis\\TIMECONG.npz")
            
    # each tolocation is a table row
    for tolocation, toTAZ in toTAZ_List:
        toTAZindex = ZoneList.index(toTAZ)
        for fromlocation, fromTAZ in fromTAZ_List:
            fromTAZindex = ZoneList.index(fromTAZ)
            
            #get reliability Table
            CongestionMinutes_Project = Delay_Project["AMSOVTIMECONGVOT3"][fromTAZindex,toTAZindex]
            CongestionMinutes_BAU = Delay_BAU["AMSOVTIMECONGVOT3"][fromTAZindex,toTAZindex]
            delay_reduction_table.append([str(row["Alternative"]), int(row["Horizon"]),
                                              fromlocation, tolocation,
                                              CongestionMinutes_BAU-CongestionMinutes_Project])            

delay_reduction_table = pd.DataFrame(delay_reduction_table, columns=header)

# B. Transportation

### B1) New Daily Transit Trips
Change in System-wide Daily Trips: Transit 
Total Transit Trips Project - BAU

In [8]:
DailyTripsbyMode = _m.Modeller().tool("translink.MAE_DailyTripsByMode")

rounding = -2

import sys #suppress print statements in daily mode share script
sys.stdout = open(os.devnull, 'w')

new_transit_trips = scenarios_input.copy()
new_transit_trips["net new transit trips"] = -1
for index, row in new_transit_trips.iterrows():
    ProjectScenario = row["Alternative Databank"]
    BAUScenario = row["BAU Databank"]
    
    eb = open_emmbank(ProjectScenario)
    # exclude trips touching external zones
    ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int)
    internalfilter = np.where(ZoneList<=9999,0,1)
    trip_total, trips_by_mode_Dict = DailyTripsbyMode.getDemand(eb, filter_vector=internalfilter)
    ProjectScenario_TransitTrips = trips_by_mode_Dict["Transit"]
    
    eb = open_emmbank(BAUScenario)
    trip_total, trips_by_mode_Dict = DailyTripsbyMode.getDemand(eb, filter_vector=internalfilter)
    BAUScenario_TransitTrips = trips_by_mode_Dict["Transit"]
    
    result = int(round(ProjectScenario_TransitTrips-BAUScenario_TransitTrips,rounding))
    new_transit_trips.at[index,"net new transit trips"] = result
        
sys.stdout = sys.__stdout__ # change print setting to default

new_transit_trips = df_pivot(new_transit_trips, "Alternative", "Horizon", "net new transit trips")
new_transit_trips.rename(columns={2035:"2035DailyNewTransitTrips",2050:"2050DailyNewTransitTrips"},inplace=True)
new_transit_trips.to_csv("B1.csv",index=False)    
new_transit_trips

   Alternative   2035   2050
0        Alt1A  19200  23000
1        Alt1B  20800  24600
2        Alt1C  22300  26800
3        Alt1D  23800  28300
4        Alt2A  21300  25700
5        Alt2B  24500  29500
6        Alt3A  17800  22000
7        Alt3B  19400  23600
8        Alt3C  23200  28300
9        Alt4A  17700  21900
10       Alt4B  19400  23600
11       Alt4C  23200  28200

### B2) Increase Sustainable Mode Share
Daily trips by mode, by origin and by destination

In [9]:
DailyTripsbyMode = _m.Modeller().tool("translink.MAE_DailyTripsByMode")

TAZ_Result_TripByMode = {}
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
TAZ_Result_TripByMode["TAZ"] = ZoneList

import sys #suppress print statements in daily mode share script
sys.stdout = open(os.devnull, 'w')

for index,row in scenarios_table.iterrows():
    eb = open_emmbank(row["Databank"])
    scenario_label = row["Scenario"]+"_"+str(row["Horizon"])
    
    # exclude trips touching external zones
    ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int)
    internalfilter = np.where(ZoneList<=9999,0,1)
    TripsByMode = DailyTripsbyMode.getDemand(eb, filter_vector=internalfilter, export_vector=True)
    for key, value in TripsByMode.iteritems():
        TAZ_Result_TripByMode[scenario_label+"_"+key]=value

TAZ_Result_TripByMode=pd.DataFrame.from_dict(TAZ_Result_TripByMode,orient='index').transpose()
TAZ_Result_TripByMode_Header = ['TAZ']  + [col for col in TAZ_Result_TripByMode if col != 'TAZ']
TAZ_Result_TripByMode=TAZ_Result_TripByMode[TAZ_Result_TripByMode_Header]
TAZ_Result_TripByMode = TAZ_Result_TripByMode[TAZ_Result_TripByMode.TAZ>9999]
TAZ_Result_TripByMode.to_csv("B2_Wide.csv",index=False)    
        
sys.stdout = sys.__stdout__ # change print setting to default

In [49]:
# pivot table
TAZ_Result_TripByMode = pd.read_csv("B2.csv")
TAZ_Result_TripByMode = TAZ_Result_TripByMode[TAZ_Result_TripByMode.TAZ>9999]
TAZ_Result_TripByMode = pd.melt(TAZ_Result_TripByMode, id_vars=["TAZ"], value_vars=list(TAZ_Result_TripByMode)[1:])
TAZ_Result_TripByMode[["Alternative","Horizon","Mode","OrigDest"]] = TAZ_Result_TripByMode["variable"].str.rsplit("_", n=4, expand=True)
TAZ_Result_TripByMode = TAZ_Result_TripByMode[["TAZ","Horizon","Alternative","OrigDest","Mode","value"]]
TAZ_Result_TripByMode["TAZ"] = TAZ_Result_TripByMode["TAZ"].astype(int)
TAZ_Result_TripByMode = pd.pivot_table(TAZ_Result_TripByMode, 
                                       index=["TAZ","Horizon","Alternative","OrigDest"], 
                                       columns="Mode", values="value", 
                                       aggfunc= "first").reset_index()
TAZ_Result_TripByMode["Auto"] = TAZ_Result_TripByMode["AutoDriver"] + TAZ_Result_TripByMode["AutoPassenger"]
TAZ_Result_TripByMode = TAZ_Result_TripByMode[["TAZ","Horizon","Alternative","OrigDest","Auto","Transit","Walk","Bike"]].round(2)
TAZ_Result_TripByMode = TAZ_Result_TripByMode[TAZ_Result_TripByMode.Horizon=="2050"].sort_values(["OrigDest","Alternative"])
TAZ_Result_TripByMode.to_csv("B2.csv",index=False)
TAZ_Result_TripByMode.head()

Mode    TAZ Horizon Alternative OrigDest     Auto  Transit    Walk   Bike
26    11010    2050       Alt1A   byDest   482.45     4.52    2.25   0.96
78    11020    2050       Alt1A   byDest   390.30     0.00    0.00   0.26
130   11030    2050       Alt1A   byDest  3882.61   459.68  771.71  54.23
182   11040    2050       Alt1A   byDest  8337.60     0.00  538.76  98.37
234   11050    2050       Alt1A   byDest  1351.38    58.27   92.42  11.54

### B3) Increase Capacity to meet future needs
crowding on parallel routes (UBC Screenline) - AM WB

In [99]:
# transit volume on UBC Screenline
create_extra = _m.Modeller().tool("inro.emme.data.extra_attribute.create_extra_attribute")
tag_tool = _m.Modeller().tool("translink.RTM3Analytics.GeographicTagging")
root_worksheet_folder = dt.root_worksheet_folder()
link_table_path = root_worksheet_folder.find_item(["MAE","TransitVolume_UBCScreenline"])
link_table = link_table_path.open()
link_table.par("ExportColumnSeparator").set(",")

transit_sl_tt = []
for index,row in scenarios_table.iterrows():
    eb = open_emmbank(row["Databank"])
    
    # open the scenario
    am_scenario = int(eb.matrix("ms2").data)
    db = de.active_database()
    for sc in db.scenarios():
        scenario_number = sc.number()
        if scenario_number==am_scenario:
            de.replace_primary_scenario(sc)
    
            # tag UBC screenline
            create_extra(extra_attribute_type="LINK",
                         extra_attribute_name="@ubcscreenline",
                         extra_attribute_description="UBC Screenline",
                         overwrite=True)
            # tag UBC screenline links
            linkattributeName = "@ubcscreenline"
            polygonfile = os.path.abspath(os.path.join(eb.path, "..", "..", 
                                          "Media", "MAE", "UBC_Screenlline.shp"))
            algorithm = "tag_max"
            excludeconnector = True
            default = 0
            polygonfield = "SL_NUM"
            scen = eb.scenario(am_scenario)
            tag_tool(scen,linkattributeName,polygonfile,polygonfield,
                     algorithm,excludeconnector,default)
            
            # save transit segment volume @voltravg
            export_filepath = row["Scenario"] + "_" + str(row["Horizon"]) + ".csv"
            export_filepath = os.path.join(os.getcwd(), export_filepath)
            dt.refresh_data()
            link_table.export(export_filepath)
            
            # append horizon and scenario
            transitvolume_UBC = pd.read_csv(export_filepath)
            transitvolume_UBC["Horizon"] = row["Horizon"]
            transitvolume_UBC["Scenario"] = row["Scenario"]
            
            # filter the WB routes
            net = scen.get_network()
            for i,row_i in transitvolume_UBC.iterrows():
                transitvolume_UBC.at[i,"i_x"] = net.node(row_i["i"]).x
                transitvolume_UBC.at[i,"j_x"] = net.node(row_i["j"]).x
            
            # keep WB routes (ix>jx), drop EB routes
            transitvolume_UBC = transitvolume_UBC[transitvolume_UBC.i_x>transitvolume_UBC.j_x]
            
            transit_sl_tt.append(transitvolume_UBC)
            os.remove(export_filepath)

link_table.close()
transit_sl_tt = pd.concat(transit_sl_tt)[["Horizon","Scenario","Route","Volume","Capacity"]].reset_index()
transit_sl_tt.rename({"Scenario":"Alternative","Route":"Line"},inplace=True)
transit_sl_tt.to_csv("B3.csv",index=False)

transit_sl_tt["Scenario"] = transit_sl_tt["Horizon"].apply(str)+"_"+transit_sl_tt["Scenario"]
transit_sl_tt_volume = df_pivot(transit_sl_tt, "Scenario","Route","Volume").fillna(0)
transit_sl_tt_volume["Total_WB"] = transit_sl_tt_volume.iloc[:, 1:].sum(axis=1)
transit_sl_tt_volume["DataType"] = "Volume"
transit_sl_tt_capacity = df_pivot(transit_sl_tt, "Scenario","Route","Capacity").fillna(0)
transit_sl_tt_capacity["Total_WB"] = transit_sl_tt_capacity.iloc[:, 1:].sum(axis=1)
transit_sl_tt_capacity["DataType"] = "Capacity"
transit_screenline = pd.concat([transit_sl_tt_volume, transit_sl_tt_capacity]).reset_index(drop=True)
# rearrange dataframe columns
transit_screenline_header = ['Scenario','DataType'] + [col for col in transit_screenline if (not(col in ["Scenario","DataType"]))]
transit_screenline = transit_screenline[transit_screenline_header]
transit_screenline.to_csv("B3_Wide.csv",index=False)    
transit_screenline.head()

,Scenario,DataType,004W1X,009W1A,014W1A,025W1X,033W1X,044W1X,049W1X,084W1X,...,936W1X,937W1X,938W1X,939W1X,940W1X,941W1X,942W1X,943W1X,974W1X,Total_WB
0,2035_Alt1A,Volume,38.46,61.44,95.22,304.51,114.93,422.16,375.94,183.13,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,424.67,10230.79
1,2035_Alt1B,Volume,37.11,45.96,82.45,299.57,113.56,435.48,379.36,182.85,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,460.35,10184.18
2,2035_Alt1C,Volume,36.02,58.85,91.79,281.57,99.03,424.76,387.56,178.34,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,439.17,10345.98
3,2035_Alt1D,Volume,35.45,45.39,81.33,279.92,97.40,433.97,405.36,179.29,...,0.0,0.0,7969.38,0.0,0.0,0.0,0.0,0.0,506.75,10301.07
4,2035_Alt2A,Volume,34.48,55.09,89.33,301.02,114.92,430.04,381.91,178.35,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,484.60,10193.73

### B4) Connect people with places
From Univeristy and Main Mall, transit travel time from all other zones.  AM inbound direction

In [14]:
def get_transit_travel_time(eb):
    # get AM Transit Travel Time Matrix take minimum of Bus/Rail/WCE Travel Time
    tempmatrix = "mf9999"
    util.initmat(eb, tempmatrix, "tempMatrix", "temp matrix", 0) #for matrix data
    specs = []
    specs.append(util.matrix_spec(tempmatrix, "(mf5300+mf5301+mf5302+mf5303).min.(mf5500+mf5501+mf5502+mf5503+mf5504)"))
    specs.append(util.matrix_spec(tempmatrix, tempmatrix+".min.(mf5700+mf5701+mf5702+mf5703+mf5704+mf5705)"))
    util.compute_matrix(specs)
    TransitTravelTime_matrix = util.get_matrix_numpy(eb, tempmatrix)
    util.delmat(eb, tempmatrix)
    return TransitTravelTime_matrix

TransitTravelTime_Table = {}
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
TransitTravelTime_Table["TAZ"] = ZoneList
zone_index = ZoneList.index(21070) # University and Mall at TAZ 21070

for index,row in scenarios_table.iterrows():
    eb = open_emmbank(row["Databank"])
    transit_traveltime = get_transit_travel_time(eb)
    
    scenario_label = row["Scenario"]+"_"+str(row["Horizon"])
    TransitTravelTime_Table[scenario_label] = transit_traveltime[:,zone_index] # for trips destinated at TAZ

TransitTravelTime_Table=pd.DataFrame.from_dict(TransitTravelTime_Table,orient='index').transpose()
TAZ_Result_TripByMode_Header = ['TAZ']  + [col for col in TransitTravelTime_Table if col != 'TAZ']
TransitTravelTime_Table=TransitTravelTime_Table[TAZ_Result_TripByMode_Header]
TransitTravelTime_Table.to_csv("B4_Wide.csv",index=False)

In [15]:
# pivot table
TransitTravelTime_Table = pd.read_csv("B4_Wide.csv")
TransitTravelTime_Table = pd.melt(TransitTravelTime_Table, id_vars=["TAZ"], value_vars=list(TransitTravelTime_Table)[1:])
TransitTravelTime_Table.rename(columns={"value":"TravelTimetoUBC[min]"},inplace=True)
TransitTravelTime_Table[["Alternative","Horizon"]] = TransitTravelTime_Table["variable"].str.rsplit("_", n=2, expand=True)
TransitTravelTime_Table["TAZ"] = TransitTravelTime_Table["TAZ"].astype(int)
TransitTravelTime_Table = TransitTravelTime_Table[TransitTravelTime_Table["TAZ"]>9999]
TransitTravelTime_Table = TransitTravelTime_Table[TransitTravelTime_Table.Horizon=="2050"].sort_values(["Alternative","TAZ"])
TransitTravelTime_Table = TransitTravelTime_Table[["TAZ","Horizon","Alternative","TravelTimetoUBC[min]"]].round(2)
TransitTravelTime_Table.to_csv("B4.csv",index=False)
TransitTravelTime_Table.head()

        TAZ Horizon Alternative  TravelTimetoUBC[min]
7005  11010    2050       Alt1A                128.77
7006  11020    2050       Alt1A                259.11
7007  11030    2050       Alt1A                109.29
7008  11040    2050       Alt1A                141.24
7009  11050    2050       Alt1A                105.59

### *) Number of Trips by Active Modes
1) Incremental Trips by Active Modes to Access Transit against BAU <br>
2) Additional Kilometers Travelled by Active Modes to Access Transit

In [ ]:
def getWalkTripsDistance(eb):
    eb = open_emmbank(eb)
    
    walkTrips = 0
    walkDistance = 0
    walkSpeed = 4.8 #km/hr - speed factor of walking mode
    
    matrix_list =  [["mf314","mf5302", "mf5303", "AM", "BUS"], #AM Bus
                    ["mf315","mf5503", "mf5504", "AM", "RAL"], #AM Rail
                    ["mf316","mf5704", "mf5705", "AM", "WCE"], #AM WCE
                    ["mf334","mf5312", "mf5313", "MD", "BUS"], #MD Bus
                    ["mf335","mf5513", "mf5514", "MD", "RAL"], #MD Rail
                    ["mf354","mf5322", "mf5323", "PM", "BUS"], #PM Bus
                    ["mf355","mf5523", "mf5524", "PM", "RAL"], #PM Rail
                    ["mf356","mf5724", "mf5725", "PM", "WCE"]] #PM WCE

    expansion_factors = {"SOV": [3.44, 8.41, 3.95],
                         "HOV": [1.51, 8.58, 5.32],
                         "BUS": [4.24, 4.85, 4.22],
                         "RAL": [4.24, 4.85, 4.22],
                         "WCE": [3.34,    0, 2.02],
                         "LGV": [3.59, 5.63, 6.17],
                         "HGV": [4.88, 5.43, 6.36]}
    DailyToAnnual_factors = {"SOV":335,"HOV":335,"BUS":276,"RAL":276,"WCE":224,"LGV":313,"HGV":276}
    
    for trips,auxillaryTime,boardings,TOD,Mode in matrix_list:
        TOD_Index = ["AM","MD","PM"].index(TOD)
        expansion = DailyToAnnual_factors[Mode] * expansion_factors[Mode][TOD_Index]
        
        mf_trips = util.get_matrix_numpy(eb, trips, reshape=False)
        mf_auxillaryTime = util.get_matrix_numpy(eb, auxillaryTime, reshape=False)
        mf_boardings = util.get_matrix_numpy(eb, boardings, reshape=False)
        
        walkTrips += mf_trips * (mf_boardings + 1) * expansion
        walkDistance += mf_trips * (walkSpeed * mf_auxillaryTime/60) * expansion #convert walk time from minutes to hours
    return walkTrips.sum(),walkDistance.sum()


active_trips = scenarios_input.copy()
active_trips["incremental active trips"] = -1
active_trips["additional active vkt"] = -1

rounding = -2

for index, row in active_trips.iterrows():
    ProjectScenario = row["Alternative Databank"]
    BAUScenario = row["BAU Databank"]
    
    WalkTrips_Project, WalkDistance_Project = getWalkTripsDistance(ProjectScenario)
    WalkTrips_BAU,     WalkDistance_BAU     = getWalkTripsDistance(BAUScenario)
    
    incremental_trips = int(round(WalkTrips_Project - WalkTrips_BAU,rounding))
    incremental_vkt = int(round(WalkDistance_Project - WalkDistance_BAU,rounding))
    
    active_trips.at[index,"incremental active trips"] = incremental_trips
    active_trips.at[index,"additional active vkt"] = incremental_vkt
    
active_trips = active_trips.drop(columns=["Alternative Databank","BAU Databank"])
active_trips

# C. Social, Community, Environment

### C1a) System-wide VKT Reduction and VKT Reduction Per Capita

In [19]:
vkt_table_UBC.to_csv("C1a.csv",index=False)  
vkt_table_UBC

   Alternative  Horizon  Annual VKT Reduction  Annual VKT Reduction per Capita
0        Alt1A     2035            58362100.0                            15.68
1        Alt1B     2035            62031900.0                            16.67
2        Alt1C     2035            64462500.0                            17.32
3        Alt1D     2035            67890600.0                            18.24
4        Alt2A     2035            61527900.0                            16.53
5        Alt2B     2035            68039600.0                            18.28
6        Alt3A     2035            51480800.0                            13.83
7        Alt3B     2035            54829800.0                            14.73
8        Alt3C     2035            61904600.0                            16.64
9        Alt4A     2035            49676300.0                            13.35
10       Alt4B     2035            54371400.0                            14.61
11       Alt4C     2035            60664400.0                            16.30
12       Alt1A     2050            65589700.0                            15.49
13       Alt1B     2050            68754400.0                            16.23
14       Alt1C     2050            73046900.0                            17.25
15       Alt1D     2050            75833400.0                            17.90
16       Alt2A     2050            68869600.0                            16.26
17       Alt2B     2050            77122500.0                            18.21
18       Alt3A     2050            58760900.0                            13.87
19       Alt3B     2050            62086400.0                            14.66
20       Alt3C     2050            70490100.0                            16.64
21       Alt4A     2050            58493800.0                            13.81
22       Alt4B     2050            61433100.0                            14.50
23       Alt4C     2050            69067000.0                            16.31

### C1b) Total expected reduction in GHG emissions (tonnes of CO2) and CACs
2035 and 2050

In [20]:
# 2035 Horizon: 2035 BAU Factors in "Onroad EF T2050.xlsx"
# 2050 Horizon: 2035 EV Agg Factors in "Onroad EF T2050.xlsx"
# Factors {mode:[2035,2050]} 
GHG_factor = {"Auto":[ 152,   91], #Co2e (g/VKT)
              "Bus": [ 748,  748],
              "LGV": [ 238,  203],
              "HGV": [1050, 1050]}
CAC_factor = {"Auto":[0.21, 0.21], #CACs (g/VKT)
              "Bus": [0.77, 0.77],
              "LGV": [0.20, 0.18],
              "HGV": [1.78, 1.78]}

emission_table = annual_vkt_reduction_by_mode.copy()
# emission_table["Total"] = emission_table["Auto"] + emission_table["LGV"] + emission_table["HGV"] 

emission_table["GHGs[tonnes]"] = 0
emission_table["CACs[tonnes]"] = 0

for i in range(2):
    horizon = [2035,2050][i]
    #for mode in ["Auto","Bus","LGV","HGV"]:
    for mode in ["Auto","LGV","HGV"]: # do not include bus emissions
        emission_table["GHGs[tonnes]"] = np.where(emission_table["Horizon"]==horizon,
                                                  emission_table["GHGs[tonnes]"]+emission_table[mode]*GHG_factor[mode][i]/1000000,
                                                  emission_table["GHGs[tonnes]"])
        emission_table["CACs[tonnes]"] = np.where(emission_table["Horizon"]==horizon,
                                                  emission_table["CACs[tonnes]"]+emission_table[mode]*CAC_factor[mode][i]/1000000,
                                                  emission_table["CACs[tonnes]"])
emission_table.drop(columns=["Auto","Bus","LGV","HGV"], inplace=True)
emission_table.to_csv("C1b.csv",index=False)  
emission_table

   Alternative  Horizon  GHGs[tonnes]  CACs[tonnes]
0        Alt1A     2035   8817.237569     12.205944
1        Alt1B     2035   9378.791760     12.978680
2        Alt1C     2035   9795.254592     13.567142
3        Alt1D     2035  10292.582008     14.243284
4        Alt2A     2035   9334.957803     12.915867
5        Alt2B     2035  10333.825541     14.311911
6        Alt3A     2035   7784.635262     10.769657
7        Alt3B     2035   8277.663732     11.452654
8        Alt3C     2035   9378.639734     12.988043
9        Alt4A     2035   7484.546980     10.353347
10       Alt4B     2035   8263.071771     11.442257
11       Alt4C     2035   9165.531767     12.685669
12       Alt1A     2050   5885.740839     13.702068
13       Alt1B     2050   6106.223720     14.260054
14       Alt1C     2050   6473.006124     15.133377
15       Alt1D     2050   6769.204361     15.791561
16       Alt2A     2050   6102.488381     14.277220
17       Alt2B     2050   6912.228610     16.091911
18       Alt3A     2050   5302.229790     12.328856
19       Alt3B     2050   5566.893444     12.958625
20       Alt3C     2050   6236.352349     14.596266
21       Alt4A     2050   5181.571877     12.111491
22       Alt4B     2050   5464.073392     12.766397
23       Alt4C     2050   6171.734405     14.391335

### C3) Support Social Equity and Distribution of Benefits
TAZ vector with jobs within 45 and 60 minutes of transit (computed from the full matrix) <br>
Also need the output of the Socioeconomic segmentation model with count of households by income category

In [16]:
Assessibility_Table = {}
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
Assessibility_Table["TAZ"] = ZoneList
zone_index = ZoneList.index(21070) # University and Mall at TAZ 21070
jobs = util.get_matrix_numpy(eb, "moTotEmp", reshape=False)

for index,row in scenarios_table.iterrows():
    eb = open_emmbank(row["Databank"])
    transit_traveltime = get_transit_travel_time(eb)
    jobs_in_45min = np.where(transit_traveltime<=45, jobs, 0)
    jobs_in_60min = np.where(transit_traveltime<=60, jobs, 0)
    
    scenario_label = row["Scenario"]+"_"+str(row["Horizon"])
    
    Assessibility_Table[scenario_label+"_45min"] = np.sum(jobs_in_45min, axis=1)
    Assessibility_Table[scenario_label+"_60min"] = np.sum(jobs_in_60min, axis=1)

Assessibility_Table=pd.DataFrame.from_dict(Assessibility_Table,orient='index').transpose()
Assessibility_Table_Header = ['TAZ']  + [col for col in Assessibility_Table if col != 'TAZ']
Assessibility_Table=Assessibility_Table[Assessibility_Table_Header]
Assessibility_Table.to_csv("C3.csv",index=False)

In [17]:
# pivot table
Assessibility_Table = pd.read_csv("C3_Wide.csv")
Assessibility_Table = Assessibility_Table[Assessibility_Table["TAZ"]>9999]
Assessibility_Table = pd.melt(Assessibility_Table, id_vars=["TAZ"], value_vars=list(Assessibility_Table)[1:])
Assessibility_Table.rename(columns={"value":"JobAccessibility"},inplace=True)
Assessibility_Table[["Alternative","Horizon","TransitTravelTime[min]"]] = Assessibility_Table["variable"].str.rsplit("_", n=3, expand=True)
Assessibility_Table[["TAZ","JobAccessibility"]] = Assessibility_Table[["TAZ","JobAccessibility"]].astype(int)
Assessibility_Table = Assessibility_Table[["TAZ","Horizon","Alternative","TransitTravelTime[min]","JobAccessibility"]]
Assessibility_Table = Assessibility_Table[Assessibility_Table.Horizon=="2050"].sort_values(["Alternative"])
Assessibility_Table.to_csv("C3.csv",index=False)
Assessibility_Table.head()

         TAZ Horizon Alternative TransitTravelTime[min]  JobAccessibility
72250  42040    2050       Alt1A                  60min             25230
76503  11040    2050       Alt1A                  45min               640
76502  11030    2050       Alt1A                  45min             19635
76501  11020    2050       Alt1A                  45min               253
76500  11010    2050       Alt1A                  45min              4186

In [10]:
# export the household count by income category for 2035/2050 BAU databanks
eb = _m.Modeller().emmebank
ZoneList = util.get_matrix_numpy(eb, "mozoneindex", reshape=False).astype(int).tolist()
df_hh_list = pd.DataFrame.from_dict({"TAZ1741":ZoneList},orient='index').transpose()
df_hh_long_list = []
for index,row in scenarios_table.iterrows():
#     if row["Scenario"]!="BAU":
#         continue # to next databank, do not export 
    eb = open_emmbank(row["Databank"])
    
    conn_rtm = util.get_rtm_db(eb)
    df_hh = pd.read_sql("select * from segmentedHouseholds", conn_rtm)
    conn_rtm.close()
    df_hh = df_hh[["TAZ1741","HHInc","CountHHs"]].groupby(["TAZ1741","HHInc"])["CountHHs"].sum().reset_index()
    df_hh_Long = df_hh.copy()
    df_hh_Long["Alternative"] = row["Scenario"]
    df_hh_Long["Horizon"] = row["Horizon"]
    df_hh_long_list.append(df_hh_Long)
    
    df_hh = df_pivot(df_hh, "TAZ1741","HHInc","CountHHs").fillna(0)
    scenario_label = row["Scenario"]+"_"+str(row["Horizon"])
    df_hh.rename(columns={1: scenario_label+"_Low", 
                          2: scenario_label+"_Med", 
                          3: scenario_label+"_Hig"}, inplace=True)
    df_hh_list = df_hh_list.merge(df_hh, how='outer', on='TAZ1741')   
    
df_hh_list.to_csv("C3_HH_Wide.csv",index=False)
df_hh_long_list = pd.concat(df_hh_long_list).reset_index(drop=True)
df_hh_long_list.rename(columns={"TAZ1741":"TAZ"},inplace=True)
df_hh_long_list[["TAZ","HHInc","CountHHs"]] = df_hh_long_list[["TAZ","HHInc","CountHHs"]].astype(int)
df_hh_long_list = df_hh_long_list[df_hh_long_list["TAZ"]>9999]
df_hh_long_list = df_hh_long_list.replace({"HHInc": {1: "LowIncomeHH", 
                                                     2: "MedIncomeHH", 
                                                     3: "HigIncomeHH"}})
df_hh_long_list = df_hh_long_list.sort_values(["Alternative","HHInc"])
df_hh_long_list= df_hh_long_list[["TAZ","Horizon","Alternative","HHInc","CountHHs"]]
df_hh_long_list = pd.pivot_table(df_hh_long_list, 
                                 index=["TAZ","Horizon","Alternative"], 
                                 columns="HHInc", values="CountHHs", 
                                 aggfunc= "first").reset_index()
df_hh_long_list = df_hh_long_list.sort_values(["Alternative","TAZ"]).round(0)
df_hh_long_list.to_csv("C3_HH.csv",index=False)
df_hh_long_list

HHInc    TAZ  Horizon Alternative  HigIncomeHH  LowIncomeHH  MedIncomeHH
0      11010     2035       Alt1A           49           15           18
13     11010     2050       Alt1A           55           16           21
26     11020     2035       Alt1A            3            1            1
39     11020     2050       Alt1A            3            0            1
52     11030     2035       Alt1A          513          210          259
65     11030     2050       Alt1A          569          228          303
78     11040     2035       Alt1A          708          347          433
91     11040     2050       Alt1A         1223          630          803
104    11050     2035       Alt1A          165           62           98
117    11050     2050       Alt1A          169           63          105
130    11060     2035       Alt1A          413          152          208
143    11060     2050       Alt1A          406          147          216
156    11070     2035       Alt1A          388          178          209
169    11070     2050       Alt1A          373          167          207
182    11080     2035       Alt1A          432          174          266
195    11080     2050       Alt1A          434          178          277
208    11090     2035       Alt1A          769          286          412
221    11090     2050       Alt1A          753          280          423
234    11100     2035       Alt1A          925          349          447
247    11100     2050       Alt1A          928          345          476
260    11110     2035       Alt1A          197           88          118
273    11110     2050       Alt1A          200           88          126
286    11120     2035       Alt1A          198           72          112
299    11120     2050       Alt1A          201           73          121
312    11130     2035       Alt1A           98           44           47
325    11130     2050       Alt1A          100           45           51
338    11140     2035       Alt1A          119           60           65
351    11140     2050       Alt1A          123           61           72
364    11150     2035       Alt1A          127           53           90
377    11150     2050       Alt1A          119           50           88
...      ...      ...         ...          ...          ...          ...
43822  82330     2035         BAU           75           53           50
43835  82330     2050         BAU           76           51           50
43848  82340     2035         BAU         1286          975         1261
43861  82340     2050         BAU         1474         1101         1455
43874  82350     2035         BAU          279          166          191
43887  82350     2050         BAU          284          161          191
43900  82360     2035         BAU          600          381          524
43913  82360     2050         BAU          695          432          612
43926  82370     2035         BAU          350          219          338
43939  82370     2050         BAU          550          354          552
43952  82380     2035         BAU         1405          751         1107
43965  82380     2050         BAU         1437          749         1126
43978  82390     2035         BAU           97           42           65
43991  82390     2050         BAU          114           49           77
44004  82400     2035         BAU           38           15           23
44017  82400     2050         BAU           39           15           23
44030  82410     2035         BAU          436          225          297
44043  82410     2050         BAU          439          224          300
44056  83010     2035         BAU          978         1336         1031
44069  83010     2050         BAU         1098         1480         1125
44082  83020     2035         BAU           65           87           61
44095  83020     2050         BAU           65           88           60
44108  83030     2035         BAU          294          195          205
44121  83030     2050         BAU          326          220          225
44134  83040     2035         BAU          236          319          240
44147  83040     2050         BAU          276          383          278
44160  83050     2035         BAU          197          302          219
44173  83050     2050         BAU          211          316          227
44186  83060     2035         BAU          181          191          158
44199  83060     2050         BAU          239          256          205

[44200 rows x 6 columns]

# D. Economic Development

### D3) Reduce Truck Travel Time
1) Daily Truck Travel Time Saving (Hours) <br>
2) Annual Truck Travel Time Saving in dollars

In [14]:
truck_table = scenarios_input.copy()
truck_table["Daily Truck Time Saving Hours"] = -1
truck_table["Annual Truck Time Saving Hours"] = -1
truck_table["Annual Truck Time Savings [2019$]"] = -1

rounding1 = -1
rounding2 = -2
project_dir = os.path.abspath(os.path.join(eb.path,"../.."))

# mode_list = {mode_category: mode_group [mode, mode, mode]}
mode_list = {"Auto": ["SOV1", "SOV2", "SOV3", "SOV4", "HOV1", "HOV2", "HOV3"],
             "Transit": ["BUS", "RAL", "WCE"],
             "Light_Truck": ["LGV"], 
             "Heavy_Truck": ["HGV"]}

expansion_factors = {"SOV": [3.44, 8.41, 3.95],
                     "HOV": [1.51, 8.58, 5.32],
                     "BUS": [4.24, 4.85, 4.22],
                     "RAL": [4.24, 4.85, 4.22],
                     "WCE": [3.34,    0, 2.02],
                     "LGV": [3.59, 5.63, 6.17],
                     "HGV": [4.88, 5.43, 6.36]}

DailyToAnnual_factors = {"SOV":335,"HOV":335,"BUS":276,"RAL":276,"WCE":224,"LGV":313,"HGV":276}

for index, row in truck_table.iterrows():
    ProjectScenarioFolder = row["Alternative Databank"]
    BAUScenarioFolder = row["BAU Databank"]
    
    Base_Demand= np.load(project_dir+"\\"+BAUScenarioFolder+"\\EconomicAnalysis/ROH_Demand.npz")
    Base_Time  = np.load(project_dir+"\\"+BAUScenarioFolder+"\\EconomicAnalysis/ROH_Time.npz")
    Altr_Time  = np.load(project_dir+"\\"+ProjectScenarioFolder+"\\EconomicAnalysis/ROH_Time.npz")
    
    Time_Benefit_AM = 0
    Time_Benefit_MD = 0
    Time_Benefit_PM = 0
    Daily_Time_BenefitMinutes = 0
    Annual_Time_BenefitMinutes = 0
    
    for mode in ["LGV","HGV"]:
        mode = mode + "9"
        Time_Benefit_AM = (Base_Demand["AMT"+mode] * (Base_Time["AMM"+mode] - Altr_Time["AMM"+mode])).sum()
        Time_Benefit_MD = (Base_Demand["MDT"+mode] * (Base_Time["MDM"+mode] - Altr_Time["MDM"+mode])).sum()
        Time_Benefit_PM = (Base_Demand["PMT"+mode] * (Base_Time["PMM"+mode] - Altr_Time["PMM"+mode])).sum()
        
        AM_Fac, MD_Fac, PM_Fac = expansion_factors[mode[:3]]
        Daily_Time_BenefitMinutes += Time_Benefit_AM * AM_Fac + Time_Benefit_MD * MD_Fac + Time_Benefit_PM * PM_Fac
        
        AnnualFactor = DailyToAnnual_factors[mode[:3]]
        Annual_Time_BenefitMinutes += (Time_Benefit_AM * AM_Fac + Time_Benefit_MD * MD_Fac + Time_Benefit_PM * PM_Fac)*AnnualFactor
    
    result = int(round((Daily_Time_BenefitMinutes)/60,rounding1))#convert minutes to hours
    truck_table.at[index,"Daily Truck Time Saving Hours"] = result
    result = int(round((Annual_Time_BenefitMinutes)/60,rounding1))#convert minutes to hours
    truck_table.at[index,"Annual Truck Time Saving Hours"] = result
    
    TruckValueOfTime = 31.25 # 2018 Dollars/hr
    DollarYearAdjust = 1 + 0.02 # Adjust to 2019 Dollar by Applying Inflation Rate (CPI)
    Annual_Time_BenefitDollar = DollarYearAdjust * TruckValueOfTime * Annual_Time_BenefitMinutes/60
    result = int(round(Annual_Time_BenefitDollar,rounding2))
    truck_table.at[index,"Annual Truck Time Savings [2019$]"] = result
    
# truck_table = truck_table.drop(columns=["Alternative Databank","BAU Databank"])
truck_table = truck_table[["Alternative","Horizon","Annual Truck Time Saving Hours"]]
truck_table.to_csv("D3.csv",index=False)  
truck_table

   Alternative  Horizon  Annual Truck Time Saving Hours
0        Alt1A     2035                           48740
1        Alt1B     2035                           51640
2        Alt1C     2035                           53270
3        Alt1D     2035                           56000
4        Alt2A     2035                           51140
5        Alt2B     2035                           55710
6        Alt3A     2035                           43920
7        Alt3B     2035                           45090
8        Alt3C     2035                           51090
9        Alt4A     2035                           37620
10       Alt4B     2035                           40260
11       Alt4C     2035                           45090
12       Alt1A     2050                           68550
13       Alt1B     2050                           70810
14       Alt1C     2050                           73470
15       Alt1D     2050                           75670
16       Alt2A     2050                           70600
17       Alt2B     2050                           75670
18       Alt3A     2050                           58960
19       Alt3B     2050                           63520
20       Alt3C     2050                           70070
21       Alt4A     2050                           54630
22       Alt4B     2050                           54730
23       Alt4C     2050                           62020

In [11]:
# summarize csv files into one excel file
csv_list = ["INFO"] + pd.read_csv("INFO.csv")["Item"].to_list()

writer = pd.ExcelWriter('UBCx_MAE.xlsx', engine='xlsxwriter')
for sheetname in csv_list:
    try:
        pd.read_csv(sheetname+".csv").to_excel(writer, sheet_name=sheetname, index=False)
    except:
        print(sheetname+".csv")

writer.save()